<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- favicon -->
        <link rel="icon" href="img/favicon.png" sizes="16x16" type="image/png">
        <!-- /favicon -->
        <!-- fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- /fontawesome -->
        <!-- google font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <!-- /google font -->
        <!-- css -->
        <link rel="stylesheet" href="css/style.css">
        <!-- /css -->
        <title>BoolzApp</title>
    </head>

    <body>
        <div class="container" id="root">

            <!-- App Field -->
            <div class="app-box">

                <!-- Sidebar -->
                <div class="app-left">
                    <!-- Userbar -->
                    <div class="user-bar">

                        <div class="user-profile">
                            <img src="img/avatar_io.jpg" alt="My avatar">
                            <h3>Simone Morieri</h3>
                        </div>

                        <div class="icons">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>

                    </div>
                    <!-- /Userbar -->

                    <!-- CtoA: push notifications -->
                    <div class="desktop-notifications">
                        <div class="icons">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="desktop-notifications-text">
                            <h5>Ricevi notifiche di nuovi messaggi</h5>
                            <h6><a href="#">Attiva notifiche desktop</a></h6>
                        </div>
                    </div>
                    <!-- /CtoA: push notifications -->

                    <!-- Search -->
                    <div class="chat-finder">
                        <div class="search">
                            <div class="mag-glass"><i class="fas fa-search"></i></div>
                            <!-- It filters contacts by string input -->
                            <input v-model="search" @input="viewContacts" type="text" placeholder="Cerca o Inizia una nuova chat">
                        </div>
                    </div>
                    <!-- /Search -->

                    <!-- Contacts list -->
                    <ul class="contacts">
                        <!-- It displays the contacts' array -->
                        <template v-for="(contact, index) in contacts">
                            <!-- If search v-model contains part of the name, the contact is visible -->
                            <li  v-if="contact.visible" @click="changeContact(index)" :tabindex="index">
                                <img :src="`img/avatar${contact.avatar}.jpg`" :alt="contact.name">
                                <div class="contact-name">{{contact.name}}</div>
                            </li>
                        </template>
                    </ul>
                    <!-- /Contacts list -->

                </div>
                <!-- /Sidebar -->

                <!-- ChatBox -->
                <div class="app-right">

                    <!-- Contact bar -->
                    <div class="chat-bar">
                        <div class="contact-profile">
                            <img :src="'img/avatar'+ contacts[counter].avatar +'.jpg'" :alt="contacts[counter].name">
                            <div class="contact-text">
                                <h3>{{contacts[counter].name}}</h3>
                                <!-- It displays time and date of last received message in this chat, acting as a "Last Seen" timestamp, if messages array is empty it does not display a time or date  -->
                                <h6 >Ultimo accesso: {{lastSeen}}</h6>
                            </div>
                        </div>
                        
                        <div class="icons">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- /Contact bar -->

                    <!-- Messages -->
                    <!-- Autoscroll plugin -->
                    <div class="messages" v-chat-scroll="{smooth: true, notSmoothOnInit: true}">
                        <ul>
                            <!-- It displays the chat messages -->
                            <li v-for="(message, index) in contacts[counter].messages" class="message-box" :class="message.status" :key="index" @click="showMessageMenu(index)">
                                <div class="message-content">
                                    {{message.message}}
                                </div>
                                <div class="message-date">
                                    {{message.date}}
                                </div>
                                <!-- If the comparative index is the same as the clicked index, the dropdown menu is displayed  -->
                                <div v-if="messageIndex == index" class="message-menu">
                                    <ul>
                                        <li>Info Messaggio</li>
                                        <li @click="deleteMessage(index)">Cancella Messaggio</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Messages -->

                    <!-- Message input -->
                    <div class="message-input">
                        <i class="far fa-smile"></i>
                        <input v-model="newMessage" type="text" placeholder="Scrivi un messaggio" @keyup.enter="addMessage">
                        <i class="fas fa-microphone"></i>
                    </div>
                    <!-- Message input -->

                </div>
                <!-- /ChatBox -->

            </div>
            <!-- /App Field -->

        </div>
        
        <!-- JS -->
        <!-- Date.js -->
        <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
        <script>dayjs().format()</script>
        <!-- /Date.js -->
        <!-- Vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <!-- /Vue -->
        <!-- Vue chat scroll -->
        <script src="https://cdn.jsdelivr.net/npm/vue-chat-scroll/dist/vue-chat-scroll.min.js"></script>
        <!-- /Vue chat scroll -->
        <!-- Main JS -->
        <script src="js/main.js"></script>
        <!-- /Main JS -->
        <!-- /JS -->
    </body>

</html>